body {
  background-image: url("./img/new.jpg");
  background-size: cover;
  background-repeat: repeat;
  border: 4px solid rgba(255, 255, 255, 0.837);
  height: 122vh;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: rgba(52, 116, 227, 0.549);
  /* margin-bottom: 290px; */
  padding: 0 20px;
  /* border-top: 1px solid rgb(248, 245, 245); */
  /* border-bottom: 1px solid rgb(248, 245, 245); */
  /* border: 4px solid white; */
}

.navbar > a {
  color: white;
  font-weight: bold;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 30px;
}

.navbar > a:hover {
  color: #7bb2fa;
}

.siteMenu {
  background-color: rgba(255, 255, 255, 0.837);
  /* border-top: 2px solid rgb(3, 2, 2); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 0.5s;
  /* border-bottom: 2px solid rgb(11, 10, 10); */
  height: 50px;
  overflow-x: hidden;
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(52, 116, 227, 0.9);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: all 2s;
}

.link.active {
  background: rgba(52, 116, 227, 0.549);
  color: rgb(247, 250, 252);
  transition: all 2s;
  margin: 0;
  padding: 0 60px;
  border: 2px solid black;
}

.link:hover {
  background: rgba(52, 116, 227, 0.549);
  color: rgb(247, 250, 252);
  transition: all 2s;
  margin: 0;
  padding: 0 60px;
}

/* .siteMenu > .link > .active {
  background-color: rgba(100, 124, 164, 0.537);
  color: #000;
} */

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.tab-container {
  width: 50%;
}

.nav-item > button {
  width: 200px;
}

svg {
  color: rgb(255, 254, 254);
  font-size: 25px;
  margin: 0;
}

.dropstart {
  background-color: none;
}

.dropstart > button {
  background-color: transparent;
  border: none;
}

.dropstart > button::before {
  display: none !important;
}

.dropstart > button:hover {
  background-color: transparent !important;
}

.icon:hover {
  color: rgba(6, 12, 17, 0.807);
}

.current-section {
  display: flex;
  justify-content: center !important;
}

.tab-content {
  display: flex;
  justify-content: center;
  margin: 86.4px;
}

.cardContainer {
  width: 170px;
  height: 270px;
  background-image: url("./img/PngItem_2198207.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px 30px;
  /* margin-bottom: 10px; */
}

.cardContainer > h5 {
  margin-top: 22px !important;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.ovr {
  margin-top: 62px;
  margin-left: 32px;
  color: white;
}

.divPosition {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-left: 10px;
  margin-top: -6px;
  /* margin-bottom: 28px; */
}

.position {
  margin-top: -8px;
  color: white;
}

.ratings {
  margin-top: -3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color: white;
  font-size: 12px;
}

.sho,
.pas,
.def,
.phy {
  margin-top: -12px;
}

img {
  position: absolute;
  width: 90px;
  height: 120px;
  margin-top: -104px;
  margin-left: 70px;
}

/* form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

input,
select {
  margin: 5px 0 !important;
  border: 2px solid black !important;
}

.theForm {
  border: 3px solid black;
  border-radius: 30px;
  /* max-width: 45%; */
  width: 45%;
  background-color: rgba(52, 116, 227, 0.549);
  padding: 30px;
  /* margin: 103px; */
}

/* .nameInput {
  width: 100% !important;
} */

.imageButton {
  margin: 5px 0;
  width: 100%;
  border: 2px solid black !important;
}

.playerButton {
  width: 100%;
  margin-top: 20px;
  border: 2px solid black !important;
}

.allPlayersP {
  background-color: rgba(156, 168, 220, 0.537);
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  /* border: 4px solid white; */
}

.allPlayersCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link:hover {
  color: black !important;
  transition: 2s;
}

.nav-link.active {
  color: #538af1 !important;
}

.nav-link.active:hover {
  color: #2d76fd !important;
}

@media screen and (max-width: 2400px) {
  /* Adjust background image */
  input,
  select {
    margin: 20px 0 !important;
    border: 2px solid black !important;
  }

  .imageButton {
    margin: 20px 0;
    width: 100%;
    border: 2px solid black !important;
  }
}

@media screen and (max-width: 1400px) {
  /* Adjust background image */
  input,
  select {
    margin: 5px 0 !important;
    border: 2px solid black !important;
  }

  .imageButton {
    margin: 5px 0;
    width: 100%;
    border: 2px solid black !important;
  }
}
