body {
  background-image: url("./img/new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid rgba(255, 255, 255, 0.837);
  height: 132vh;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: rgba(52, 116, 227, 0.549);
  padding: 0 20px;
}

.navbar > a {
  color: white;
  font-weight: bold;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 30px;
}

.navbar > a:hover {
  color: #7bb2fa;
}

.siteMenu {
  background-color: rgba(255, 255, 255, 0.837);
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  transition: all 1s;
  height: 50px;
  overflow-x: hidden;
}

.link {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  color: rgba(52, 116, 227, 0.9);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: all 2s;
}

.link.active {
  background: rgba(52, 116, 227, 0.549);
  color: rgb(247, 250, 252);
  transition: all 2s;
  margin: 0;
  padding: 0 100px;
}

.link:hover {
  background: rgba(52, 116, 227, 0.549);
  color: rgb(247, 250, 252);
  transition: all 4s;
  margin: 0;
  padding: 0 100px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.tab-container {
  width: 50%;
}

.nav-item > button {
  width: 200px;
}

svg {
  color: rgb(255, 254, 254);
  font-size: 25px;
  margin: 0;
}

.dropstart {
  background-color: none;
}

.dropstart > button {
  background-color: transparent;
  border: none;
}

.dropstart > button::before {
  display: none !important;
}

.dropstart > button:hover {
  background-color: transparent !important;
}

.icon:hover {
  color: rgba(6, 12, 17, 0.807);
}

.current-section {
  display: flex;
  justify-content: center !important;
}

.tab-content {
  display: flex;
  justify-content: center;
  /* margin: 86.4px; */
  padding: 30px;
}

.cardContainer {
  width: 170px;
  height: 270px;
  background-image: url("./img/card.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px 30px;
  /* margin-bottom: 10px; */
}

.cardContainer > h5 {
  margin-top: 22px !important;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.cardContainer > .name {
  margin-top: 22px !important;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.ovr {
  margin-top: 62px;
  margin-left: 32px;
  color: white;
}

.divPosition {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-left: 10px;
  margin-top: -6px;
  /* margin-bottom: 28px; */
}

.position {
  margin-top: -8px;
  color: white;
}

.ratings {
  margin-top: -3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color: white;
  font-size: 12px;
}

.sho,
.pas,
.def,
.phy {
  margin-top: -12px;
}

img {
  position: absolute;
  width: 90px;
  height: 120px;
  margin-top: -104px;
  margin-left: 70px;
}

.cardContainer2 {
  width: 120px;
  height: 190px;
  background-image: url("./img/card.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px 30px;
  /* margin-bottom: 10px; */
}

.cardContainer2 > h5 {
  margin-top: 9px !important;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.ovr2 {
  margin-top: 5px;
  margin-left: 21px;
  color: white;
}

.divPosition2 {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-left: -2px;
  margin-top: -6px;
}

.position2 {
  margin-top: -16px;
  color: white;
}

.ratings2 {
  margin-top: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color: white;
  font-size: 10px;
}

.sho2,
.pas2,
.def2,
.phy2 {
  margin-top: -14px;
}

.img2 {
  position: absolute;
  width: 60px;
  height: 90px;
  margin-top: -85px;
  margin-left: 50px;
}

.button2 {
  margin-left: 100px;
  font-size: 14px !important;
}
/* form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

input,
select {
  margin: 5px 0 !important;
  border: 2px solid black !important;
}

.overall {
  margin-top: 60px !important;
  margin-left: 23px !important;
  color: white;
  border: none !important;
  width: 35px !important;
  height: 25px !important;
  padding: 0 !important;
  /* margin: 2px !important; */
}
.positionInput {
  border: none !important;
  margin-top: 13px !important;
  width: 35px !important;
  height: 25px !important;
  padding: 0 !important;
  /* margin: 2px !important; */
}

.cardInputs > input {
  width: 30px !important;
  height: 18px !important;
  border: none !important;
  padding: 0 !important;
  margin: 2px !important;
  /* margin-left: 24px !important; */
  padding-left: 6px !important;
}

.playerNameInput {
  display: flex;
  justify-content: center;
}
.playerNameInput > input {
  display: flex !important;
  justify-content: center !important;
  border: none !important;
  margin-top: 18px !important;
  width: 140px;
  height: 25px;
  padding: 0 !important;
}

.inputMarginleft {
  margin-left: 7px !important;
}
.inputMarginRight1 {
  margin-right: 9px !important;
}
.inputMarginRight2 {
  margin-right: 8px !important;
}
.inputMarginRight3 {
  margin-right: 7px !important;
}

.theForm {
  border: 3px solid black;
  border-radius: 30px;
  width: 45%;
  background-color: rgba(52, 116, 227, 0.549);
  padding: 30px;
}

.imageButton {
  margin: 5px 0;
  width: 100%;
  border: 2px solid black !important;
}

.playerButton {
  width: 100%;
  margin-top: 20px;
  border: 2px solid black !important;
}

.allPlayersP {
  background-color: rgba(156, 168, 220, 0.537);
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  margin-top: 15px;
  /* border: 4px solid white; */
}

.allPlayersCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  /* display: flex; */
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link:hover {
  background-color: #1265ff;
  color: rgb(245, 236, 236) !important;
  transition: 2s;
}

.nav-link.active {
  color: #538af1 !important;
}

.nav-link.active:hover {
  color: #538af1 !important;
}

@media screen and (min-width: 2100px) and (min-width: 2600px) {
  body {
    height: 100vh;
  }

  .theForm {
    border: 3px solid black;
    border-radius: 30px;
    width: 1000px;
    height: 600px;
    background-color: rgba(52, 116, 227, 0.549);
    padding: 30px;
  }

  .cardContainer {
    width: 230px;
    height: 600px;
    background-image: url("./img/card.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .cardContainer > h5 {
    margin-top: 43px !important;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
  }

  .ovr {
    margin-top: 88px;
    margin-left: 44px;
    color: white;
  }

  .position {
    margin-top: 0px;
    margin-left: 26px;
    color: white;
  }

  .ratings {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: white;
  }

  .sho,
  .pas,
  .def,
  .phy {
    margin-top: -7px;
  }

  img {
    position: absolute;
    width: 130px;
    height: 180px;
    margin-top: -147px;
    margin-left: 85px;
  }

  input,
  select {
    margin: 20px 0 !important;
    border: 2px solid black !important;
  }

  .imageButton {
    margin: 20px 0;
    width: 100%;
    border: 2px solid black !important;
  }
}

@media screen and (max-width: 1400px) {
  input,
  select {
    margin: 5px 0 !important;
    border: 2px solid black !important;
  }

  .imageButton {
    margin: 5px 0;
    width: 100%;
    border: 2px solid black !important;
  }
}
